<div class="form-payment">
    <div class="form-payment-item">
        <img class="logo" alt="Logo" src="../../assets/logo_black.png">
    </div>
    <div class="form-payment-item">
        <h1><strong>Terms and conditions</strong></h1>
        <h3>That you'll never read</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions
            of Lorem Ipsum.</p>
        <br>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Nunc lacinia diam nec urna tristique pretium.</li>
            <li>Quisque vulputate lacus sed aliquam eleifend.</li>
            <li>Nullam pellentesque erat sit amet risus commodo efficitur.</li>
            <li>Aliquam consectetur nunc sit amet sem finibus consequat.</li>
            <li>Vivamus nec tortor nec ex egestas lacinia.</li>
            <li>Etiam quis lectus a neque interdum feugiat eu id mi.</li>
            <li>Curabitur in mi pretium, aliquam velit in, lobortis risus.</li>
            <li>Aliquam a justo interdum, finibus dui et, accumsan turpis.</li>
            <li>Sed sed eros sed mauris varius fringilla ut eget lectus.</li>
            <li>Sed consequat erat venenatis hendrerit egestas.</li>
            <li>Nullam in tellus vel magna scelerisque tempus vel eleifend arcu.</li>
            <li>Integer nec justo ac libero ornare pellentesque ut quis ipsum.</li>
            <li>Mauris tempus lectus eget est viverra aliquet.</li>
            <li>Praesent vestibulum purus eu mi maximus, quis blandit nulla egestas.</li>
            <li>In non sem nec erat semper aliquet.</li>
            <li>Vivamus ultricies elit in justo pellentesque, ac volutpat lorem efficitur.</li>
            <li>Nam congue lacus convallis blandit rutrum.</li>
        </ul>

    </div>
</div>